.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin: 0 48.75px;
  grid-area: a;
}

@media screen and (max-width: 1024px) {
  .profile__image {
    margin: 0 auto;
  }
}
