.elements__icon {
  display: inline-block;
  width: 22px;
  height: 19px;
  margin: 7px 0 0 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background-image: url(../../../images/heart.svg);
  background-color: transparent;
}

.elements__icon:hover {
  cursor: pointer;
  opacity: 0.5;
}
