.profile__avatar {
  width: 168.75px;
  height: 127.5px;
  text-align: center;
  position: relative;
  grid-area: a;
}

@media screen and (max-width: 1024px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
