.form__button-submit {
  width: calc(100% - 72px);
  min-height: 50px;
  margin: 35.34px 36px 37px 36px;
  border: none;
  border-radius: 2px;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  outline: none;
  background-color: #000000;
  color: #ffffff;
}

.form__button-submit:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .form__button-submit {
    width: calc(100% - 72px);
    margin: 45px 22px 25px 22px;
    font-size: 14px;
    line-height: 1.21;
  }
}
