.form__input {
  min-width: 358px;
  margin-left: 36px;
  padding: 0 0 13px 0;
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:nth-child(3) {
  margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .form__input {
    min-width: calc(100% - 44px);
    margin-left: 22px;
  }
}
