.popup-image__close-button {
  position: absolute;
  display: flex;
  right: -32px;
  top: -32px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-image: url(../../../images/close.svg);
  background-color: transparent;
  background-position: 50%;
  background-repeat: no-repeat;
}

.popup-image__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .popup-image__close-button {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
